:root{
    --b10: rgba(0, 0, 0, 0.1);
    --b38: rgba(0, 0, 0, 0.38);
    --b54: rgba(0, 0, 0, 0.54);
    --b87: rgba(0, 0, 0, 0.87);
    --blue: #3366FF;

    --w25: rgba(255,255,255,0.25)

}

html{
    scroll-behavior:smooth
}

#how, #chain, #cards, #tournament, #about {
    scroll-margin-top: 100px;
  }

/* *{outline: 0.5px solid var(--b38) !important;} */

*{
    transition: all 0.2s;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 140%;
    color: var(--b87);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 24px;

    background-image: url('img/cover.svg');
    background-repeat:no-repeat;
    background-position-x: center;
}

/* COMPONENTS */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    gap: 24px;

    position: relative;
    width: calc(100vw - 48px);
    max-width: 1200px;
}

.fullwidth{
    min-width: 100%;
}

.row{
    flex-direction: row;
}

.autowidth{
    width: auto;
}

.list {
    align-items: flex-start;
    width: 416px !important;
}


h1, h2, h3{
    font-family: 'Grenze', serif;
    font-weight: 400;
    line-height: 95%;
    text-align: center;
}

h1{
    font-size: 40px;
}

a{
    color: var(--b87);
}

p, ul, ol{
    max-width: 416px;
}

ul, ol{
    padding-left: 20px;
}

li{
    margin-bottom: 12px;
}



/* NAVIGATIONN */
nav{
    width: 100%;
    padding: 0;

    position: fixed;
    top: 0;


    display: flex;
    background-color: var(--b87);
    backdrop-filter: blur(3px);
    justify-content: space-between;

    align-items: center; 
    z-index: 9;
}

nav * {
    color: white;
    text-decoration: none;
}

.buttongroup{
    display: flex;
    gap: 0px;
    padding-right: 12px;
}


nav .buttongroup a{
    padding: 12px 8px;
    line-height: 28px;
    white-space: nowrap;
    border-radius: 0px;
}

nav .buttongroup a:hover{
    background-color: var(--w25);   
}

.discbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    
    background-color: var(--blue);
    border-radius: 6px !important;
    padding: 8px 12px 8px 8px !important;
    margin-left: 8px;

    border: 2px solid black;
    color: white;
    text-decoration: none;
    line-height: 28px;
}

.discbutton div{
    width: 1px;
    height: 32px;
    background-color: var(--w25);
}




/* MAIN PAGE */
.cover {
    height: 752px;
    justify-content: flex-start;
}

.cover h1{
    margin: 352px auto 180px auto;
    background-color: white;
    line-height: 36px;
}

.cover span{
    font-size:28px;
}

/* HOW */
#how {
    justify-content: center;
    align-items: flex-start;
}

#how img{
    width: 588px; 
    transform: rotate(2deg); 
    margin-top: -36px;
}



/* ABOUT */
.profile{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile p:nth-child(3) {
    font-weight: 700;
}

.profile p:nth-child(4){
    font-weight: 400;
    color: var(--b54);
    font-style: oblique;
    width: 254px;
}

.profile span{
    font-weight: 400;
}

.profile img{
    width: 120px;
}

.speechbubble{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 236px;
    font-style: oblique;
    text-align: center;

}

.speechbubble p{
    background-color: black;
    padding: 16px;
    color: white;
}

.speechbubble a{
    color: white;
}

.speechbubble img{
    height: 10px;
}

.logo{
    height: 96px;
}


/* CHAIN */

#chain{
    padding-bottom: 80px;
}

#chain .container .row{
    position: absolute;
    top: 75px;
    left: -134px;

    width: auto;

    gap:29px;
    justify-content: center;
}

#chain .card{
    width: 124px;
}

.topcard{
    position: absolute;
    top: -115px;
    left: 110px;
    transform: rotate(-8deg);
}

#chain h1{
    color: var(--b54);
}


/* CARD GRID */
.edge{
    position: absolute; 
    top: -52px;

    min-height: 72px;
    width: 100%;
    background-image: url(img/edge.svg);
}

.cardbase{
    background-color: black;
    color: white;
    padding-top: 48px;
    padding-bottom: 48px;
}

.cardgrid{
    max-width: 840px;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    margin: 12px;
}

.cardgrid img{
    max-height: 200px;
}

.cardgrid img:hover {
    transform: scale(1.03);
    filter: drop-shadow(0 0 24px rgb(0, 0, 0, 0.99));
    z-index: 2;
}

#cards{
    background-image: url(img/cardscover.svg);
    background-repeat:no-repeat;
    background-position-x: center;

}

#tournament{
   align-self: flex-start;
   margin-left: 86px;
}

/* ABOUT */
.diamonds {
    position: absolute; 
    min-height: 20px;
    width: 100%;
    background-image: url(img/diamonds.svg);
}

#about{
    padding: 48px 0;
}

/* FOOTER */
footer{
    background-color: var(--b10);
    height: 340px;

    /* align-items: flex-end !important; */
    justify-content: flex-end !important;

    background-image: url('img/footercover.svg');
    background-repeat:no-repeat;
    background-position-x: center;
}

footer .row{
    margin-bottom: 48px;
    padding: 0;
}

footer div{
    align-items: flex-end !important;
    justify-content: flex-end !important;
    gap: 12px !important;
}